.button-column a {
    display: inline-block;
    width: 15px;
    height: 15px;
    line-height: 15px;
    vertical-align: middle;
}
.button-column a img {
    max-height: 100%;
    max-width: 100%;
}